@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        footer {
            clear: both;
            background-color: #000;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #5c5c5c;
            position: absolute;
            bottom: 0px;
            margin: 0 auto -250px
        }
    </style>
</head>
<body>
    <div class="aboutbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="abouttitlepage">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="=container">
            <div class="row">
                <img src="~/gallery/img1.jpg" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/supportindependent.jpg" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/img2.jpg" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/img3.jpeg" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/img4.jfif" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/img5.jfif" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
            </div>
            <div class="row">
                <img src="~/gallery/img7.jfif" class="col-2 sm-4 lg-1 mb-1  inline"
                     alt="" />
                <img src="~/gallery/img6.jfif" class="col-2 sm-4 lg-1 mb-1  inline"
                     alt="" />
                <img src="~/gallery/img8.jfif" class="col-2 sm-4 lg-1 mb-1 inline"
                     alt="" />
                <img src="~/gallery/img9.jpg" class="col-2 sm-4 lg-1 mb-1  inline"
                     alt="" />
                <img src="~/gallery/img10.jfif" class="col-2 sm-4 lg-1 mb-1  inline"
                     alt="" />
                <img src="~/gallery/img11.jfif" class="col-2 sm-4 lg-1 mb-1  inline"
                     alt="" />
            </div>
        </div>
    </div>
    
</body>
</html>