@{
    ViewData["Title"] = "Independent Artist Songs";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="aboutbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="abouttitlepage">
                        <h2>independent artist</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    
        <div class="row-col-lg-3 row-col-md-6 row-col-sm-12 card-deck">
            
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="~/images/indep.jpg" alt="Card image cap">
                    <div class="card-body">
                        <audio controls="controls">
                            <source src="~/UploadAudioFiles/039d6f9e-c621-4b53-a5aa-d87929710685.mp3" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            

            
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="~/images/indep.jpg" alt="Card image cap">
                    <div class="card-body">
                        <audio controls="controls">
                            <source src="~/UploadAudioFiles/914ebd76-d117-44b2-bd57-6d59a4a71726.mp3" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="~/images/indep.jpg" alt="Card image cap">
                    <div class="card-body">
                        <audio controls="controls">
                            <source src="~/UploadAudioFiles/9594d09b-6c47-4e06-9903-a35baaa3de3b.MP3" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
           
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="~/images/indep.jpg" alt="Card image cap">
                    <div class="card-body">
                        <audio controls="controls">
                            <source src="~/UploadAudioFiles/ad093a15-1acd-4f46-917f-c2825bae083d.mp3" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            </div>
       
</body>

</html>					